<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Admin Login</title>
        <meta content="Admin Login" name="description" />
        <meta content="Mannatthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="/admin_assets/images/favicon.ico">

        <link href="/admin_assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/admin_assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/admin_assets/css/style.css" rel="stylesheet" type="text/css">

    </head>


    <body>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <div class="text-center mt-2 mb-4">
                        <a href="index.html" class="logo logo-admin">
                            <img src="/admin_assets/images/logo.png" height="20" alt="logo">
                        </a>
                    </div>

                    <div class="px-3 pb-3">
                        <form class="form-horizontal m-t-20" id="loginForm" action="javascript:void(0);">

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" id="email" type="email" required="" placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" id="password" type="password" required="" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-danger btn-block waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <div class="col-sm-7 m-t-20">
                                    <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> <small>Forgot your password ?</small></a>
                                </div>
                                <div class="col-sm-5 m-t-20">
                                    <a href="pages-register.html" class="text-muted"><i class="mdi mdi-account-circle"></i> <small>Create an account ?</small></a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>



        <!-- jQuery  -->
        <script src="/admin_assets/js/jquery.min.js"></script>
        <script src="/admin_assets/js/popper.min.js"></script>
        <script src="/admin_assets/js/bootstrap.min.js"></script>
        <script src="/admin_assets/js/modernizr.min.js"></script>
        <script src="/admin_assets/js/waves.js"></script>
        <script src="/admin_assets/js/jquery.slimscroll.js"></script>
        <script src="/admin_assets/js/jquery.nicescroll.js"></script>
        <script src="/admin_assets/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="/admin_assets/js/app.js"></script>
        <script>
            $(document).ready(function() {
                
                $('#loginForm').on('submit', function(e) {
                    e.preventDefault();
        
                    var email = $('#email').val();
                    var password = $('#password').val();
        
                    $.ajax({
                        url: '/admin_login_request',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ email: email, password: password }),
                        success: function(response) {
                            // Redirect to dashboard on successful login
                            window.location.href = '/coffee/dashboard';
                        },
                        error: function(xhr, status, error) {
                            // Handle errors (e.g., display error message)
                            alert('Login failed: ' + xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </body>
</html>