<%- include('partials/admin_head') %>

        <!-- DataTables -->
        <link href="/admin_assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/admin_assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
    <body>

        <!-- Loader -->
        <%- include('partials/admin_loader') %>

        <!-- Navigation Bar-->
       
        <%- include('partials/admin_header') %>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group pull-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="#">Fujtrade</a></li>
                                    <li class="breadcrumb-item active">All Payment</li>
                                </ol>
                            </div>
                            <h4 class="page-title">List Of Charges Transactions</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <button class="btn btn-primary pull-right" id="sync_data">Sync Data</button>
                                        <h4 class="mt-0 header-title">List Of Charges Transactions</h4>
                                       
                                        <table id="datatable-buttons" class="table table-striped table-bordered w-100">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Amount</th>
                                                <th>Currency</th>
                                                <th>Reciept #</th>
                                                <th>URL</th>
                                                <th>Invoice Type</th>
                                            </tr>
                                            </thead>
        
        
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                           
                        </div><!--end row-->

                     
                    </div><!--end col-->

                  
                </div><!--end row-->

            

                
            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->


        <!-- Footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        © 2023 Fujtrade.com
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->


        <!-- jQuery  -->
        <script src="/admin_assets/js/jquery.min.js"></script>
        <script src="/admin_assets/js/popper.min.js"></script>
        <script src="/admin_assets/js/bootstrap.min.js"></script>
        <script src="/admin_assets/js/modernizr.min.js"></script>
        <script src="/admin_assets/js/waves.js"></script>
        <script src="/admin_assets/js/jquery.nicescroll.js"></script>

        <script src="/admin_assets/plugins/skycons/skycons.min.js"></script>
        <script src="/admin_assets/plugins/fullcalendar/vanillaCalendar.js"></script>
        <script src="/admin_assets/plugins/raphael/raphael-min.js"></script>
        <script src="/admin_assets/plugins/morris/morris.min.js"></script> 
         
        <!-- App js -->
        <script src="/admin_assets/js/app.js"></script>
         <!-- Required datatable js -->
         <script src="/admin_assets/plugins/datatables/jquery.dataTables.min.js"></script>
         <script src="/admin_assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
         <!-- Buttons examples -->
         <script src="/admin_assets/plugins/datatables/dataTables.buttons.min.js"></script>
         <script src="/admin_assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
         <script src="/admin_assets/plugins/datatables/jszip.min.js"></script>
         <script src="/admin_assets/plugins/datatables/pdfmake.min.js"></script>
         <script src="/admin_assets/plugins/datatables/vfs_fonts.js"></script>
         <script src="/admin_assets/plugins/datatables/buttons.html5.min.js"></script>
         <script src="/admin_assets/plugins/datatables/buttons.print.min.js"></script>
         <script src="/admin_assets/plugins/datatables/buttons.colVis.min.js"></script>
         <!-- Responsive examples -->
         <script src="/admin_assets/plugins/datatables/dataTables.responsive.min.js"></script>
         <script src="/admin_assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
  
         <!-- Datatable init js -->
         <!-- <script src="/admin_assets/pages/datatables.init.js"></script>  -->
 
       
         <script>
            $(document).ready(function() {
           

 $('#datatable-buttons').DataTable({
    "dom": 'Bfrtip',
            "serverSide": false,
            "bSortable": true,
            "lengthChange": true,
            "responsive": true,      
        ajax: {
            url: '/get_all_links',
            type: 'GET',
            dataSrc: ''
        },
        columns: [
        { data: null, render: function (data, type, row, meta) {
                return meta.row + 1; // for indexing starting from 1
            }},
            { data: 'amount' },
            { data: 'currency' },
            { data: 'number' },
            { data: 'url' },
            { data: 'amount_type', render: function (data, type, row, meta) {
                return (data == "0") ? "Close Invoice" : "Open Invoice"; // for indexing starting from 1
            }}
        ],

            buttons: [
                {
                        extend: 'print',
                        message: 'Print',
                        text: 'Print',
                },
                {
                        extend: 'copy',
                        message: 'Copy',
                        text: 'Copy',
                },
                {
                        extend: 'excelHtml5',
                        title: 'Export List'
                },
                {
                        extend: 'pdfHtml5',
                        title: 'Export PDG',
                }
                ,   {
                        extend: 'colvis',
                        text: 'Columns Visibilty'
                } 
            ]

        // order: [[1, 'desc']] // Optional: if you want to order by a specific column by default
    });
   
            });
        </script>
          <script>

          
        </script>
        
    </body>
</html>