<!doctype html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="theme-color" content="#E9E8F0">
    <!-- preload assets -->
    <link rel="preload" href="/assets/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/montserrat-v14-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-v16-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-v16-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/css/style.css" as="style">
    <link rel="preload" href="/assets/js/vendors/uikit.min.js" as="script">
    <link rel="preload" href="/assets/js/utilities.min.js" as="script">
    <link rel="preload" href="/assets/js/config-theme.js" as="script">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/assets/css/auth.css">
    <!-- uikit -->
    <script src="/assets/js/vendors/uikit.min.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- touch icon -->
    <link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon.png">
    <title>Reset Password</title>
</head>

<body>
    <style>
        /* Add a loading style to the button */
#submitButton.loading {
background-color: #ccc; /* Change to your loading background color */
cursor: not-allowed;
/* Add any other styling for the loading state */
}
.title{
    font-size: 1.5rem;
    opacity: .8;
}
</style>
    <!-- page loader begin -->
    <div class="page-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
      <!-- page loader end -->
      <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity title">CHANGE YOUR PASSWORD</h1>
                <form id="resetPasswordForm">
                    <input type="password" id="newPassword" placeholder="Enter your new password" />
                    <input type="password" id="confirmPassword" placeholder="Confirm your new password" />
                    <button class="opacity" id="submitButton" type="submit" name="submit">RESET PASSWORD</button>
                </form>
                <div class="register-forget opacity">
                    <span>Remember your password? <a href="/signin" style="text-decoration: underline;">Log in here</a></span>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
    <!-- javascript -->
          
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/js/utilities.min.js"></script>
    <script src="/assets/js/config-theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/assets/js/auth.js"></script>
    <script>
        $(document).ready(function () {
            // Handle the "Reset Password" form submission
            $('#resetPasswordForm').submit(function (e) {
                e.preventDefault();
            $('#submitButton').addClass("loading");
            $('#submitButton').text("loading...");    
                const newPassword = $('#newPassword').val();
                const confirmPassword = $('#confirmPassword').val();

                // Add validation logic for password match
                if (newPassword !== confirmPassword) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Passwords do not match',
                    });
                    return;
                }

                // Perform an AJAX request to handle the reset password logic
                $.ajax({
                    type: 'POST',
                    url: '/reset_forgot_password',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        newPassword,
                        confirmPassword,
                        resetToken: '<%= token %>', // Replace with the actual reset token
                    }),
                    success: function (response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.message,
                            didClose: () => {
                                // Redirect to the home page
                                window.location.href = '/signin';
                            }
                        });
                        // Redirect to login page after success
                       
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: error.responseJSON.message,
                        });
                        $('#submitButton').removeClass("loading");
                          $('#submitButton').text("Reset Password");    
                    }
                });
            });
        });
    </script>
</body>

</html>