<!doctype html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fujtrade All types of e-trading from a single account">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="theme-color" content="#E9E8F0">
    <!-- preload assets -->
    <link rel="preload" href="/assets/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/montserrat-v14-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-v16-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/lato-v16-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/css/style.css" as="style">
    <link rel="preload" href="/assets/js/vendors/uikit.min.js" as="script">
    <link rel="preload" href="/assets/js/utilities.min.js" as="script">
    <link rel="preload" href="/assets/js/config-theme.js" as="script">
    <!-- stylesheet -->
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <link rel="stylesheet" href="/assets/css/auth.css">
    <!-- uikit -->
    <script src="/assets/js/vendors/uikit.min.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <!-- touch icon -->
    <link rel="apple-touch-icon-precomposed" href="/assets/img/apple-touch-icon.png">
    <title>Sign in </title>
</head>

<body>
    <!-- page loader begin -->
    <div class="page-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- page loader end -->
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form id="loginForm">
                    <input type="email" id="email" placeholder="EMAIL" />
                    <input type="password" id="password" placeholder="PASSWORD" />
                    <button class="opacity" type="submit" id="login-btn" name="submit">LOGIN</button>
                </form>
                <div class="register-forget opacity">
                    <a href="/signup">REGISTER</a>
                    <a href="/forgot-password" >FORGOT PASSWORD</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
    <!-- javascript -->
          
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/assets/js/utilities.min.js"></script>
    <script src="/assets/js/config-theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/assets/js/auth.js"></script>
    <script>
        $(document).ready(function() {


          $('#loginForm').submit(function(e) {
            e.preventDefault();
            $("#login-btn").attr( "disabled", "disabled" );
                    $("#login-btn").text('Loading...');

            const email = $('#email').val();
            const password = $('#password').val();
    
            $.ajax({
              type: 'POST',
              url: '/login_request',
              contentType: 'application/json',
              data: JSON.stringify({ email, password }),
              success: function(response) {
                Swal.fire({
              icon: 'success',
              title: 'Success',
              text: response.message,
              didClose: () => {
                $("#login-btn").removeAttr("disabled");
                            $("#login-btn").text('LOGIN');
                // Redirect to the home page
                window.location.href = '/';
              }
            });
              },
              error: function(error) {
                Swal.fire({
              icon: 'error',
              title: 'Error',
              text: error.responseJSON.message,
              didClose: () => {
                $("#login-btn").removeAttr("disabled");
                $("#login-btn").text('LOGIN');
                // Redirect to the home page
                // window.location.href = '/';
              }
            });
              }
            });
          });
        });
      </script>
</body>

</html>